.invalid {
    -fx-border-color: red;
}
.task {
    -fx-border-color: black;
}

.selected {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-opacity: 0.8;
}

.invalid-1 {
    -fx-background-color: red;
}